<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Login</h1>
<hr>


<form action="/login" method="POST">
    email : <label>
    <input type="text" name="username">
</label> <br>
    password : <label>
    <input type="password" name="password">
</label> <br>
    <button type="submit">Login</button>
<!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
</form>
<br>

</body>
</html>